.idea/
assets/
node_modules/
bower_components/


.directory/
*.swp
*.swo
*.*~
*.pyc


*.log

#vim
files.list
env.vim
tags
session.vim

# ===
*.map
app/src/coffee-files/*.js
app/src/tianzi_main.js
media/img/
