<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <title>Tianzi Game - developing</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link rel="stylesheet" href="/media/css/game.css" />
  <link rel="stylesheet" href="/media/css/font.css" />

  <script type="text/javascript" src="/game/app/lib/raphael.js"></script>
  <script type="text/javascript" src="/game/app/lib/angular.min.js"></script>
  <script type="text/javascript" src="/game/app/lib/underscore.js"></script>
  <script type="text/javascript" src="/game/app/lib/sea.js"></script>

  <!--[if lt IE 9]>

  <![endif]-->
  <!--<script src="http://cdnmaster.com/pub/iehack/html5.js"></script>-->

</head>
<body>

  <div id="page-wrapper">
    <header>
      <h2>I'm the header.</h2>

    </header>
     <div id="content">
     <div id="ng-app" >
      <!--angular template, not django-->
       {% verbatim %}
         <div id="boardWrapper">
           <div ng-controller="BoardCtrl">
             <h3>I'm the board. Ticking {{getTime();}}</h3>
             <div id="svgWrapper"></div>
           </div>
         </div>

      {% endverbatim %}

      {% verbatim %}
      <div id="debugWrapper" ng-controller="TZ.DebugCtrl">
          <input type="text" id="debugInput" placeholder="debugInput">
          <button id="btnPrintObjInfo" onclick="Util.printObjInfo();">打印对象信息</button>
          <button ng-click="debug.saveData" onclick="Util.saveGameData();">保存游戏信息</button>
          <button onclick="Util.loadGameData();">读取游戏信息</button>
          <button onclick="Util.resetGame();">重置游戏</button>
          <div id="" class="">
              <input type="text"  id='scaleInput' placeholder="Input the scale">
              <button onclick="scaleGame(document.getElementById('scaleInput').value, paper);">Scale</button>
          </div><!-- / -->
          <div class="output" id="output-panel">
            <h3>{{title}}</h3>
            <button ng-click="refresh();" >Refresh</button>
            <div class="square-cnt">
              <h4 >Square box </h4>
              <ul >
                <!--  assign a array consists of prop's key name to order the ng-repeat  -->
                <!--  todo how can we use  a custom function to suit in complicated situation? -->
                <li ng-repeat="square in square_box | orderBy:['gridX','gridY'] " class="item">
                  <div class="line">gridX: {{ square.gridX }}</div>
                  <div class="line">gridY: {{ square.gridY }}</div>
                  <div class="line">txt: <span contenteditable="">{{ square.txt }}</span></div>
                </li>
              </ul>
            </div>
            <div class="frame-cnt">
              <h4>Frame <Box></Box></h4>
              <ul >
                <li ng-repeat="frame in frame_box" class="item">
                  <div class="line">gridX: {{ frame.gridX }}</div>
                  <div class="line">gridY: {{ frame.gridY }}</div>
                  <div class="line">len: {{ frame.len }}</div>
                  <div class="line">dire: {{ frame.direction }}</div>
                </li>
              </ul>
            </div>
          </div>
      </div>
      <div id="inputWrapper">
          <input type="text" placeholder="输入文字" id="inputBox">
      </div>

      {% endverbatim %}
     </div>
  </div>




  <div id="page_mask" style="background:rgba(125,125,125,.5);z-index:10;position:absolute;width:100%;top:0;height:100%;display:none">

  </div>
  <div id="no-data" style='text-align:center;line-height:16px;font-size:16px;padding:20px 0;display:none'><i class='icon-frown'></i>暂无数据</div>

  <script type="text/javascript" src="/game/app/js/init.js"></script>

</body>
</html>
